
.board {
    margin: -85px auto -90px auto;
    overflow: hidden;
    height: 760px;
    width: 609px;
    background-image: url('images/map.png');
    background-repeat: no-repeat;
    background-size: contain;

    .dropdown {
        position: relative;
        left: 121px;
        top: 100px;
    }
}

#startStopBtn {
    top: 169px;
    position: relative;
    left: 40px;
}

#difficultyRadio {
    top: 170px;
    left: 84px;
    position: relative;
}

#balance {
    position: absolute;
    top: 30px;
    left: 290px;
    transform: translateX(-50%);
    font-size: 18px;
}

#nickName{
    position: absolute;
    top: 3px;
    left: 290px;
    transform: translateX(-50%);
    font-size: 18px;
}

body.gameBg {
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
