
#gridContainer {
    position: relative;
    left: 86px;
    top: 111px;
    width: 355px;
    height: 416px;

    .grid {
        width: 100%;
        height: 100%;

        tr {
            td {
                background: #fcc162;
                padding: 4px;
            }
        }

        tr.open {
            visibility: hidden;
        }

        tr.opened {
            -webkit-transition: opacity 2s ease-in-out;
            -moz-transition: opacity 2s ease-in-out;
            -ms-transition: opacity 2s ease-in-out;
            -o-transition: opacity 2s ease-in-out;
            opacity: 0;
        }

        tr.disabled {
            cursor: not-allowed;

            .cell {
                background: gray !important;
                pointer-events: none;
            }
        }

        .cell {
            width: 60px;
            min-height: 32px;
            background: #fba133;
            border-radius: 5px;
            padding: 1px;
            margin: auto;

            cursor: pointer;
            pointer-events: initial;
        }
    }

    table {
        font-size: 11px;
    }
}
