.mainContainer {
  //border: 3px solid green;
  padding: 10px;
  text-align: center;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    left: 55%;
  }
}
