<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Details</h1>

    <div>
        <h4>Configuration</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Id
            </dt>
            <dd class="col-sm-10">
                ${configuration.id}
            </dd>
            <dt class="col-sm-2">
                CurrencyTypeId
            </dt>
            <dd class="col-sm-10">
                ${configuration.currencyTypeId}
            </dd>
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                ${configuration.name}
            </dd>
            <dt class="col-sm-2">
                GameModeId
            </dt>
            <dd class="col-sm-10">
                ${configuration.gameModeId}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: configurations-edit; params.bind: { id: configuration.id }">Edit</a> |
        <a route-href="route: configurations-index">Back to List</a>
    </div>

</template>
