<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Edit</h1>

    <h4>Configuration</h4>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <form submit.delegate="formSubmitted($event)">
                <div class="form-group">

                    <label class="control-label" for="CurrencyTypeId">CurrencyTypeId</label>
                    <input class="form-control" type="text" data-val="true" maxlength="512" minlength="1"
                           id="CurrencyTypeId" name="CurrencyTypeId" value.bind="configuration.currencyTypeId"/>

                    <label class="control-label" for="Name">Name</label>
                    <input class="form-control" type="text" data-val="true" maxlength="512" minlength="1"
                           id="Name" name="Name" value.bind="configuration.name"/>

                    <label class="control-label" for="GameModeId">GameModeId</label>
                    <input class="form-control" type="text" data-val="true" maxlength="512" minlength="1"
                           id="GameModeId" name="GameModeId" value.bind="configuration.gameModeId"/>

                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>

            </form>
        </div>
    </div>

    <div>
        <a route-href="route: configurations-index">Back to List</a>
    </div>

</template>
