<template>

    <h1>Log in</h1>

    <div class="row">
        <div class="col-md-6">

            <section>
                <form id="account" method="post" submit.trigger="onSubmit($event)">
                    <h4>Use a local account to log in.</h4>
                    <hr/>
                    <h4 if.bind="errorMessage != null" style="color:red;">${errorMessage}</h4>

                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" value.bind="email"/>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" value.bind="password"/>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>

                    <div class="form-group">
                        <p>
                            <a route-href="route: account-register; params.bind: { }">Register as a new user</a>
                        </p>
                    </div>

                </form>
            </section>

        </div>
    </div>

</template>
