<template>

    <h1>Register</h1>

    <div class="row">
        <div class="col-md-6">

            <section>
                <form id="account" method="post" submit.trigger="onSubmit($event)">
                    <h4>Register new account.</h4>
                    <hr/>
                    <h4 if.bind="errorMessage != null" style="color:red;">${errorMessage}</h4>

                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" value.bind="email"/>
                    </div>

                    <div class="form-group">
                        <label>Password (Must include one non-Alphanumeric letter [e.g. "!" or "$"], one lowercase letter, one capital letter & one number)</label>
                        <input class="form-control" type="password" value.bind="password"/>
                    </div>

                    <div class="form-group">
                        <label>First name</label>
                        <input class="form-control" type="text" value.bind="firstName"/>
                    </div>

                    <div class="form-group">
                        <label>Last name</label>
                        <input class="form-control" type="text" value.bind="lastName"/>
                    </div>

                    <div class="form-group">
                        <label>Nickname (profile user name)</label>
                        <input class="form-control" type="text" value.bind="nickName"/>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>

                </form>
            </section>

        </div>
    </div>

</template>
