<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Create</h1>

    <h4>GameRound</h4>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <form submit.delegate="formSubmitted($event)">

                <div class="form-group">
                    <label class="control-label" for="AppUserId">AppUserId</label>
                    <input class="form-control" type="text" id="AppUserId" name="AppUserId" value.bind="appUserId"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="RoundStatusId">RoundStatusId</label>
                    <input class="form-control" type="text" id="RoundStatusId" name="RoundStatusId" value.bind="roundStatusId"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="ConfigurationId">ConfigurationId</label>
                    <input class="form-control" type="text" id="ConfigurationId" name="ConfigurationId" value.bind="configurationId"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="CurrentLevel">CurrentLevel</label>
                    <input class="form-control" type="text" id="CurrentLevel" name="CurrentLevel" value.bind="currentLevel"/>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>

            </form>
        </div>
    </div>

    <div>
        <a route-href="route: gameRounds-index">Back to List</a>
    </div>

</template>
