<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Details</h1>

    <div>
        <h4>GameRound</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Id
            </dt>
            <dd class="col-sm-10">
                ${gameRound.id}
            </dd>
            <dt class="col-sm-2">
                AppUserId
            </dt>
            <dd class="col-sm-10">
                ${gameRound.appUserId}
            </dd>
            <dt class="col-sm-2">
                RoundStatusId
            </dt>
            <dd class="col-sm-10">
                ${gameRound.roundStatusId}
            </dd>
            <dt class="col-sm-2">
                ConfigurationId
            </dt>
            <dd class="col-sm-10">
                ${gameRound.configurationId}
            </dd>
            <dt class="col-sm-2">
                CurrentLevel
            </dt>
            <dd class="col-sm-10">
                ${gameRound.currentLevel}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: gameRounds-edit; params.bind: { id: gameRound.id }">Edit</a> |
        <a route-href="route: gameRounds-index">Back to List</a>
    </div>

</template>
