<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Edit</h1>

    <h4>GameRound</h4>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <form submit.delegate="formSubmitted($event)">
                <div class="form-group">

                    <label class="control-label" for="AppUserId">AppUserId</label>
                    <input class="form-control" type="text" data-val="true" maxlength="512" minlength="1"
                           id="AppUserId" name="AppUserId" value.bind="gameRound.appUserId"/>

                    <label class="control-label" for="RoundStatusId">RoundStatusId</label>
                    <input class="form-control" type="text" data-val="true" maxlength="512" minlength="1"
                           id="RoundStatusId" name="RoundStatusId" value.bind="gameRound.roundStatusId"/>

                    <label class="control-label" for="ConfigurationId">ConfigurationId</label>
                    <input class="form-control" type="text" data-val="true" maxlength="512" minlength="1"
                           id="ConfigurationId" name="ConfigurationId" value.bind="gameRound.configurationId"/>

                    <label class="control-label" for="CurrentLevel">CurrentLevel</label>
                    <input class="form-control" type="text" data-val="true" maxlength="512" minlength="1"
                           id="CurrentLevel" name="CurrentLevel" value.bind="gameRound.currentLevel"/>

                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>

            </form>
        </div>
    </div>

    <div>
        <a route-href="route: gameRounds-index">Back to List</a>
    </div>

</template>
