<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>GameRounds</h1>

    <p>
        <a route-href="route: gameRounds-create">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                AppUserId
            </th>
            <th>
                RoundStatusId
            </th>
            <th>
                ConfigurationId
            </th>
            <th>
                CurrentLevel
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="data of gameRounds">
            <td>
                ${data.id}
            </td>
            <td>
                ${data.appUserId}
            </td>
            <td>
                ${data.roundStatusId}
            </td>
            <td>
                ${data.configurationId}
            </td>
            <td>
                ${data.currentLevel}
            </td>
            <td>
                <a route-href="route: gameRounds-edit; params.bind: { id: data.id }">Edit</a> |
                <a route-href="route: gameRounds-details; params.bind: { id: data.id }">Details</a> |
                <a route-href="route: gameRounds-delete; params.bind: { id: data.id }">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</template>
