<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Create</h1>

    <h4>TransactionType</h4>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <form submit.delegate="formSubmitted($event)">

                <div class="form-group">
                    <label class="control-label" for="Name">Name</label>
                    <input class="form-control" type="text" id="Name" name="Name" value.bind="name"/>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>

            </form>
        </div>
    </div>

    <div>
        <a route-href="route: transactionTypes-index">Back to List</a>
    </div>

</template>
