<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Create</h1>

    <h4>GameLevel</h4>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <form submit.delegate="formSubmitted($event)">

                <div class="form-group">
                    <label class="control-label" for="GameModeId">GameModeId</label>
                    <input class="form-control" type="text" id="GameModeId" name="GameModeId" value.bind="gameModeId"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="Bet">Bet</label>
                    <input class="form-control" type="text" id="Bet" name="Bet" value.bind="bet"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="LevelNr">LevelNr</label>
                    <input class="form-control" type="text" id="LevelNr" name="LevelNr" value.bind="levelNr"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="BoxCount">BoxCount</label>
                    <input class="form-control" type="text" id="BoxCount" name="BoxCount" value.bind="boxCount"/>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>

            </form>
        </div>
    </div>

    <div>
        <a route-href="route: gameLevels-index">Back to List</a>
    </div>

</template>
