<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>GameLevel</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Id
            </dt>
            <dd class="col-sm-10">
                ${gameLevel.id}
            </dd>
            <dt class="col-sm-2">
                GameModeId
            </dt>
            <dd class="col-sm-10">
                ${gameLevel.gameModeId}
            </dd>
            <dt class="col-sm-2">
                Bet
            </dt>
            <dd class="col-sm-10">
                ${gameLevel.bet}
            </dd>
            <dt class="col-sm-2">
                LevelNr
            </dt>
            <dd class="col-sm-10">
                ${gameLevel.levelNr}
            </dd>
            <dt class="col-sm-2">
                BoxCount
            </dt>
            <dd class="col-sm-10">
                ${gameLevel.boxCount}
            </dd>
        </dl>

        <form submit.delegate="formSubmitted($event)">
            <input type="submit" value="Delete" class="btn btn-danger"/> |
            <a route-href="route: gameLevels-index">Back to List</a>
        </form>
    </div>

</template>
