<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Details</h1>

    <div>
        <h4>GameLevel</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Id
            </dt>
            <dd class="col-sm-10">
                ${gameLevel.id}
            </dd>
            <dt class="col-sm-2">
                GameModeId
            </dt>
            <dd class="col-sm-10">
                ${gameLevel.gameModeId}
            </dd>
            <dt class="col-sm-2">
                Bet
            </dt>
            <dd class="col-sm-10">
                ${gameLevel.bet}
            </dd>
            <dt class="col-sm-2">
                LevelNr
            </dt>
            <dd class="col-sm-10">
                ${gameLevel.levelNr}
            </dd>
            <dt class="col-sm-2">
                BoxCount
            </dt>
            <dd class="col-sm-10">
                ${gameLevel.boxCount}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: gameLevels-edit; params.bind: { id: gameLevel.id }">Edit</a> |
        <a route-href="route: gameLevels-index">Back to List</a>
    </div>

</template>
