<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>GameLevels</h1>

    <p>
        <a route-href="route: gameLevels-create">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                GameModeId
            </th>
            <th>
                Bet
            </th>
            <th>
                LevelNr
            </th>
            <th>
                BoxCount
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="data of gameLevels">
            <td>
                ${data.id}
            </td>
            <td>
                ${data.gameModeId}
            </td>
            <td>
                ${data.bet}
            </td>
            <td>
                ${data.levelNr}
            </td>
            <td>
                ${data.boxCount}
            </td>
            <td>
                <a route-href="route: gameLevels-edit; params.bind: { id: data.id }">Edit</a> |
                <a route-href="route: gameLevels-details; params.bind: { id: data.id }">Details</a> |
                <a route-href="route: gameLevels-delete; params.bind: { id: data.id }">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</template>
