<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Wallet</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Id
            </dt>
            <dd class="col-sm-10">
                ${wallet.id}
            </dd>
            <dt class="col-sm-2">
                AppUserId
            </dt>
            <dd class="col-sm-10">
                ${wallet.appUserId}
            </dd>
            <dt class="col-sm-2">
                CurrencyTypeId
            </dt>
            <dd class="col-sm-10">
                ${wallet.currencyTypeId}
            </dd>
            <dt class="col-sm-2">
                Amount
            </dt>
            <dd class="col-sm-10">
                ${wallet.amount}
            </dd>
        </dl>

        <form submit.delegate="formSubmitted($event)">
            <input type="submit" value="Delete" class="btn btn-danger"/> |
            <a route-href="route: wallets-index">Back to List</a>
        </form>
    </div>

</template>
