<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Edit</h1>

    <h4>Wallet</h4>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <form submit.delegate="formSubmitted($event)">
                <div class="form-group">

                    <label class="control-label" for="AppUserId">AppUserId</label>
                    <input class="form-control" type="text" data-val="true" maxlength="512" minlength="1"
                           id="AppUserId" name="AppUserId" value.bind="wallet.appUserId"/>

                    <label class="control-label" for="CurrencyTypeId">CurrencyTypeId</label>
                    <input class="form-control" type="text" data-val="true" maxlength="512" minlength="1"
                           id="CurrencyTypeId" name="CurrencyTypeId" value.bind="wallet.currencyTypeId"/>

                    <label class="control-label" for="Amount">Amount</label>
                    <input class="form-control" type="text" data-val="true" maxlength="512" minlength="1"
                           id="Amount" name="Amount" value.bind="wallet.amount"/>

                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>

            </form>
        </div>
    </div>

    <div>
        <a route-href="route: wallets-index">Back to List</a>
    </div>

</template>
