<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Create</h1>

    <h4>GameHistory</h4>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <form submit.delegate="formSubmitted($event)">

                <div class="form-group">
                    <label class="control-label" for="AppUserId">AppUserId</label>
                    <input class="form-control" type="text" id="AppUserId" name="AppUserId" value.bind="appUserId"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="GameRoundId">GameRoundId</label>
                    <input class="form-control" type="text" id="GameRoundId" name="GameRoundId" value.bind="gameRoundId"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="Bet">Bet</label>
                    <input class="form-control" type="text" id="Bet" name="Bet" value.bind="bet"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="Win">Win</label>
                    <input class="form-control" type="text" id="Win" name="Win" value.bind="win"/>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>

            </form>
        </div>
    </div>

    <div>
        <a route-href="route: gameHistories-index">Back to List</a>
    </div>

</template>
