<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Details</h1>

    <div>
        <h4>GameHistory</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Id
            </dt>
            <dd class="col-sm-10">
                ${gameHistory.id}
            </dd>
            <dt class="col-sm-2">
                AppUserId
            </dt>
            <dd class="col-sm-10">
                ${gameHistory.appUserId}
            </dd>
            <dt class="col-sm-2">
                GameRoundId
            </dt>
            <dd class="col-sm-10">
                ${gameHistory.gameRoundId}
            </dd>
            <dt class="col-sm-2">
                Bet
            </dt>
            <dd class="col-sm-10">
                ${gameHistory.bet}
            </dd>
            <dt class="col-sm-2">
                Win
            </dt>
            <dd class="col-sm-10">
                ${gameHistory.win}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: gameHistories-edit; params.bind: { id: gameHistory.id }">Edit</a> |
        <a route-href="route: gameHistories-index">Back to List</a>
    </div>

</template>
