<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>GameHistories</h1>

    <p>
        <a route-href="route: gameHistories-create">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                AppUserId
            </th>
            <th>
                GameRoundId
            </th>
            <th>
                Bet
            </th>
            <th>
                Win
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="data of gameHistories">
            <td>
                ${data.id}
            </td>
            <td>
                ${data.appUserId}
            </td>
            <td>
                ${data.gameRoundId}
            </td>
            <td>
                ${data.bet}
            </td>
            <td>
                ${data.win}
            </td>
            <td>
                <a route-href="route: gameHistories-edit; params.bind: { id: data.id }">Edit</a> |
                <a route-href="route: gameHistories-details; params.bind: { id: data.id }">Details</a> |
                <a route-href="route: gameHistories-delete; params.bind: { id: data.id }">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</template>
