<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Create</h1>

    <h4>Transaction</h4>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <form submit.delegate="formSubmitted($event)">

                <div class="form-group">
                    <label class="control-label" for="AppUserId">AppUserId</label>
                    <input class="form-control" type="text" id="AppUserId" name="AppUserId" value.bind="appUserId"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="CurrencyTypeId">CurrencyTypeId</label>
                    <input class="form-control" type="text" id="CurrencyTypeId" name="CurrencyTypeId"
                           value.bind="currencyTypeId"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="TransactionStatusId">TransactionStatusId</label>
                    <input class="form-control" type="text" id="TransactionStatusId" name="TransactionStatusId"
                           value.bind="transactionStatusId"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="TransactionTypeId">TransactionTypeId</label>
                    <input class="form-control" type="text" id="TransactionTypeId" name="TransactionTypeId"
                           value.bind="transactionTypeId"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="Amount">Amount</label>
                    <input class="form-control" type="text" id="Amount" name="Amount" value.bind="amount"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="EndingBalance">EndingBalance</label>
                    <input class="form-control" type="text" id="EndingBalance" name="EndingBalance"
                           value.bind="endingBalance"/>
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>

            </form>
        </div>
    </div>

    <div>
        <a route-href="route: transactions-index">Back to List</a>
    </div>

</template>
