<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Details</h1>

    <div>
        <h4>Transaction</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Id
            </dt>
            <dd class="col-sm-10">
                ${transaction.id}
            </dd>
            <dt class="col-sm-2">
                AppUserId
            </dt>
            <dd class="col-sm-10">
                ${transaction.appUserId}
            </dd>
            <dt class="col-sm-2">
                CurrencyTypeId
            </dt>
            <dd class="col-sm-10">
                ${transaction.currencyTypeId}
            </dd>
            <dt class="col-sm-2">
                TransactionStatusId
            </dt>
            <dd class="col-sm-10">
                ${transaction.transactionStatusId}
            </dd>
            <dt class="col-sm-2">
                TransactionTypeId
            </dt>
            <dd class="col-sm-10">
                ${transaction.transactionTypeId}
            </dd>
            <dt class="col-sm-2">
                Amount
            </dt>
            <dd class="col-sm-10">
                ${transaction.amount}
            </dd>
            <dt class="col-sm-2">
                EndingBalance
            </dt>
            <dd class="col-sm-10">
                ${transaction.endingBalance}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: transactions-edit; params.bind: { id: transaction.id }">Edit</a> |
        <a route-href="route: transactions-index">Back to List</a>
    </div>

</template>
