<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Transactions</h1>

    <p>
        <a route-href="route: transactions-create">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                AppUserId
            </th>
            <th>
                CurrencyTypeId
            </th>
            <th>
                TransactionStatusId
            </th>
            <th>
                TransactionTypeId
            </th>
            <th>
                Amount
            </th>
            <th>
                EndingBalance
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="data of transactions">
            <td>
                ${data.id}
            </td>
            <td>
                ${data.appUserId}
            </td>
            <td>
                ${data.currencyTypeId}
            </td>
            <td>
                ${data.transactionStatusId}
            </td>
            <td>
                ${data.transactionTypeId}
            </td>
            <td>
                ${data.amount}
            </td>
            <td>
                ${data.endingBalance}
            </td>
            <td>
                <a route-href="route: transactions-edit; params.bind: { id: data.id }">Edit</a> |
                <a route-href="route: transactions-details; params.bind: { id: data.id }">Details</a> |
                <a route-href="route: transactions-delete; params.bind: { id: data.id }">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</template>
