<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>RoundStatus</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Id
            </dt>
            <dd class="col-sm-10">
                ${roundStatus.id}
            </dd>
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                ${roundStatus.name}
            </dd>
        </dl>

        <form submit.delegate="formSubmitted($event)">
            <input type="submit" value="Delete" class="btn btn-danger"/> |
            <a route-href="route: roundStatuses-index">Back to List</a>
        </form>
    </div>

</template>
