<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Create</h1>

    <h4>Faucet</h4>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <form submit.delegate="formSubmitted($event)">

                <div class="form-group">
                    <label class="control-label" for="AppUserId">AppUserId</label>
                    <input class="form-control" type="text" id="AppUserId" name="AppUserId" value.bind="appUserId"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="CurrencyTypeId">CurrencyTypeId</label>
                    <input class="form-control" type="text" id="CurrencyTypeId" name="CurrencyTypeId" value.bind="currencyTypeId"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="AmountRetrieved">AmountRetrieved</label>
                    <input class="form-control" type="text" id="AmountRetrieved" name="AmountRetrieved" value.bind="amountRetrieved"/>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>

            </form>
        </div>
    </div>

    <div>
        <a route-href="route: faucets-index">Back to List</a>
    </div>

</template>
