<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Details</h1>

    <div>
        <h4>Faucet</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Id
            </dt>
            <dd class="col-sm-10">
                ${faucet.id}
            </dd>
            <dt class="col-sm-2">
                AppUserId
            </dt>
            <dd class="col-sm-10">
                ${faucet.appUserId}
            </dd>
            <dt class="col-sm-2">
                CurrencyTypeId
            </dt>
            <dd class="col-sm-10">
                ${faucet.currencyTypeId}
            </dd>
            <dt class="col-sm-2">
                AmountRetrieved
            </dt>
            <dd class="col-sm-10">
                ${faucet.amountRetrieved}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: faucets-edit; params.bind: { id: faucet.id }">Edit</a> |
        <a route-href="route: faucets-index">Back to List</a>
    </div>

</template>
