<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Details</h1>

    <div>
        <h4>Affiliate</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Id
            </dt>
            <dd class="col-sm-10">
                ${affiliate.id}
            </dd>
            <dt class="col-sm-2">
                AppUserId
            </dt>
            <dd class="col-sm-10">
                ${affiliate.appUserId}
            </dd>
            <dt class="col-sm-2">
                Referred To
            </dt>
            <dd class="col-sm-10">
                ${affiliate.referredTo}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: affiliates-edit; params.bind: { id: affiliate.id }">Edit</a> |
        <a route-href="route: affiliates-index">Back to List</a>
    </div>

</template>
