@import "components/mainContainer";
@import "components/board";
@import "components/gameGrid";
@import "components/loader";

html {
  position: fixed;
  width: 100%;
  min-height: 100%;
}

header {
  background: #64b6ac;
  position: relative;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #FCFFFD;

  main {
    height: 85vh;
    position: relative;

    table.table {
      max-height: calc(100% - 100px);
      overflow: scroll;
      display: block;
    }
  }
}

footer {
  background: #5D737E;

  .container {
    color: white;
  }

  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

alert {
  z-index: 999;
  display: block;
  position: relative;
}
