<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Details</h1>

    <div>
        <h4>TransactionStatus</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Id
            </dt>
            <dd class="col-sm-10">
                ${transactionStatus.id}
            </dd>
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                ${transactionStatus.name}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: transactionStatuses-edit; params.bind: { id: transactionStatus.id }">Edit</a> |
        <a route-href="route: transactionStatuses-index">Back to List</a>
    </div>

</template>
