<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Edit</h1>

    <h4>TransactionStatus</h4>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <form submit.delegate="formSubmitted($event)">
                <div class="form-group">

                    <label class="control-label" for="Name">Name</label>
                    <input class="form-control" type="text" data-val="true" maxlength="512" minlength="1"
                           id="Name" name="Name" value.bind="transactionStatus.name"/>

                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>

            </form>
        </div>
    </div>

    <div>
        <a route-href="route: transactionStatuses-index">Back to List</a>
    </div>

</template>
