<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>TransactionStatuses</h1>

    <p>
        <a route-href="route: transactionStatuses-create">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="data of transactionStatuses">
            <td>
                ${data.id}
            </td>
            <td>
                ${data.name}
            </td>
            <td>
                <a route-href="route: transactionStatuses-edit; params.bind: { id: data.id }">Edit</a> |
                <a route-href="route: transactionStatuses-details; params.bind: { id: data.id }">Details</a> |
                <a route-href="route: transactionStatuses-delete; params.bind: { id: data.id }">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</template>
