<template>
    <require from="../../components/alert"></require>
    <alert alert-data.bind="_alert"></alert>

    <div class="mainContainer">
        <div class="board">

            <span id="nickName" class="badge badge-pill badge-warning">Warning</span>

            <span id="balance" class="badge badge-pill badge-warning">Warning</span>

            <div class="dropdown" id="currencyTypeSelector">
                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value.bind="selectedCurrency">
                    ${selectedCurrency}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a repeat.for="currency of availableCurrencies" class="dropdown-item nav-link" href="#"
                       click.delegate="onCurrencySelect(currency)">${currency}</a>
                </div>
            </div>

            <div id="gridContainer"></div>

            <button type="button" class="btn btn-warning" id="startStopBtn"
                    click.delegate="onGameButtonSelect(gameMode)">
                ${gameButtonValue}
            </button>

            <div class="btn-group btn-group-toggle" id="difficultyRadio" data-toggle="buttons">
                <label repeat.for="gameMode of availableGameModes"
                       class="btn btn-warning ${gameMode === selectedGameMode ? 'active' : ''}">
                    <input type="radio" name="options" autocomplete="off"
                           click.delegate="onGameModeSelect(gameMode)"> ${gameMode}
                </label>
            </div>

        </div>
    </div>


</template>
