<template>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">MineSweeper</a>


                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CRUD
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a repeat.for="i of router.navigation.length - 1" class="dropdown-item nav-link"
                           href.bind="router.navigation[i+1].href">${router.navigation[i + 1].title}</a>
                    </div>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul if.bind="appState.JWT == null" class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               route-href="route: account-register; params.bind: { }">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               route-href="route: account-login; params.bind: { }">Login</a>
                        </li>
                    </ul>
                    <ul if.bind="appState.JWT != null" class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#" click.delegate="onLogoutClick()">Logout</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container mw-100 loader" id="mainWrapper">
        <main role="main" id="main">
            <router-view></router-view>
        </main>
    </div>

    <footer class="border-top footer <!--text-muted-->">
        <div class="container">
            &copy; ${currentYear} - Taaniel Sylla
        </div>
    </footer>

</template>
